<h1>All Contacts</h1>

<ul>
  <% $rolodex.contacts.each do |contact| %>
    <li><%= contact.first_name %> <%= contact.last_name %> Email: <%= contact.email %></li>
  <% end %>
</ul>
<div class="main">
  <a href="/"> Return to Main Menu </a>
</div>