<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <header>
      <button name="button"> <a href="/"> HOME </a></button>
    </header>
    <nav>
    <%= yield %>
    </nav>
    <footer><img src="http://i.imgur.com/6SkUzD2.jpg"></footer>
  </body>
</html>