<h1><%= @contact.first_name %> <%= @contact.last_name%></h1>
<div class="main">
  <p>Email: <%= @contact.email %></p>
  <p>Note: <%= @contact.note%></p>

  <a href="/"> Return to Main Menu </a>
</div>
