header {
  font-family: Book Antiqua;
  text-align: center;
}

h1 {
  font-family: Book Antiqua;
  color: SeaGreen;
  text-align: center;
  font-size: 36px;
}

.main {
  text-align: center;
  font-family: Book Antiqua;
  margin: 30px;
  background-color: RosyBrown;
  border: none;
  opacity: 0.6;
}


ul {
    list-style-position: inside;
    list-style-type: none;
}

a {
  font-family: Book Antiqua;
  text-decoration: none;
  color: DarkSeaGreen;
}

button {
  font-family: Serif;
  font-size: 28px;
  color: #3399CC;
}



